vertical()
  position absolute
  left  0
  top 0
  right 0
  bottom 0
  margin auto

ft-bg-image($url,$left,$top)
  width 42px
  height 40px
  background: url($url) no-repeat
  background-size: auto 400%
  background-position: $left $top
